# BEGIN React App Rewrite
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /	
  # Exclude WordPress REST API from React routing
  RewriteCond %{REQUEST_URI} !^/wp-json
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /build/index.html [L,NC,QSA]
</IfModule>
# END React App Rewrite

# BEGIN MIME Types
<IfModule mod_mime.c>
  AddType application/manifest+json .webmanifest
  AddType application/manifest+json .json
  AddType application/javascript .js
  AddType text/css .css
</IfModule>
# END MIME Types

# BEGIN Cache Control
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType application/manifest+json "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"
</IfModule>
# END Cache Control

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]	
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
